<div id="page-top" class="landing-page no-skin-config fixed-sidebar pace-done">
  <div class="pace  pace-inactive">
    <div class="pace-progress" style="transform: translate3d(100%, 0px, 0px);" data-progress-text="100%"
         data-progress="99">
      <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
  </div>
  <div class="pace  pace-inactive">
    <div class="pace-progress" style="transform: translate3d(100%, 0px, 0px);" data-progress-text="100%"
         data-progress="99">
      <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
  </div>
  <div class="pace  pace-inactive">
    <div class="pace-progress" style="transform: translate3d(100%, 0px, 0px);" data-progress-text="100%"
         data-progress="99">
      <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
  </div>
  <div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md navbar-scroll" role="navigation">
      <div class="container">
        <a href="javascript:void(0)">
          <img src="assets/img/logo.png" class="img img-responsive" style="width: 50px">
        </a>
        <div class="navbar-header page-scroll">
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar"
                  aria-expanded="false">
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-link page-scroll" href="#page-top">Home</a></li>
            <li><a class="nav-link page-scroll" href="" (click)="gotoLogin()">Log in</a></li>
            <li><a class="nav-link page-scroll active" href="#features">Features</a></li>
            <li><a class="nav-link page-scroll" href="#signup"
                   (click)="open(signupModal, { windowClass: 'modal-top modal-lg animate' })">Get started</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div id="inSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#inSlider" data-slide-to="0" class=""></li>
      <li data-target="#inSlider" data-slide-to="1" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active carousel-item-left">
        <div class="container">
          <div class="carousel-caption">
            <h1>Powerful <br>inventory management <br>to help you take complete<br>control of your business</h1>
            <p>Products, orders, customers and insights in one place</p>
            <p>
              <a class="btn btn-lg btn-primary" href="#" role="button">Get Started</a>
            </p>
          </div>
          <div class="carousel-image wow zoomIn animated animated animated" style="visibility: visible;">
            <img src="assets/landing/laptop.png" alt="laptop">
          </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back one"></div>
      </div>
      <div class="carousel-item carousel-item-next carousel-item-left">
        <div class="container">
          <div class="carousel-caption blank">
            <h1>The platform of choice<br> for growing businesses</h1>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Get Started</a></p>
          </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back two"></div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#inSlider" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#inSlider" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <section id="features" class="container services">
    <div class="row">
      <div class="col-sm-3">
        <h2>Inventory management</h2>
        <p>Keep track of your products as you sell, manufacture and restock across multiple warehouse locations and
          channels.</p>
      </div>
      <div class="col-sm-3">
        <h2>Orders &amp; fulfillment</h2>
        <p>Sync orders from multiple sales channels with inventory and accounting to boost business efficiency.</p>
      </div>
      <div class="col-sm-3">
        <h2>Relationships</h2>
        <p>Keep all your customer and supplier data in one place, complete with purchase histories and customer-specific
          insights.</p>
      </div>
      <div class="col-sm-3">
        <h2>Intelligence</h2>
        <p>Generate accurate sales, inventory, business reports and forecasts for better business decisions, all in
          real-time.</p>
      </div>
    </div>
  </section>

  <section class="container features">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Over 10+ <br> <span class="navy">Powerful tools to scale your business</span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-center wow fadeInLeft animated animated animated"
           style="visibility: visible; animation-name: fadeInLeft;">
        <div>
          <i class="fa fa-mobile features-icon"></i>
          <h2>Intergrations </h2>
          <p>Never waste a second typing orders again, Using our platform, you can easily link your Shopify, Woocommerce
            or your CRM </p>
        </div>
        <div class="m-t-lg">
          <i class="fa fa-bar-chart features-icon"></i>
          <h2>Stock management </h2>
          <p>Never run out of stock again with our easy stock management platform. WE TREAT EVERY PIECE OF YOUR STOCK
            LIKE GOLD ! </p>
        </div>
      </div>
      <div class="col-md-6 text-center  wow zoomIn animated animated animated" style="visibility: visible;">
        <img src="assets/landing/perspective.png" alt="dashboard" class="img-fluid">
      </div>
      <div class="col-md-3 text-center wow fadeInRight animated animated animated"
           style="visibility: visible; animation-name: fadeInRight;">
        <div>
          <i class="fa fa-envelope features-icon"></i>
          <h2>Confirmation &amp; Follow-up </h2>
          <p>We confirm every order by phone before shipping it out, We also follow-up with your costumers until the
            order is delivered. </p>
        </div>
        <div class="m-t-lg">
          <i class="fa fa-google features-icon"></i>
          <h2>SMS Updates </h2>
          <p>Your costumers will never ask for shipping updates again! We run automated SMS sequences in order to keep
            your costumers hooked until the order gets DELIVERED ! </p>
        </div>
      </div>
    </div>
  </section>

  <section id="team" class="gray-section team">
    <div class="container">
      <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>Our Team</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 wow fadeInLeft animated animated animated"
             style="visibility: visible; animation-name: fadeInLeft;">
          <div class="team-member">
            <img src="assets/landing/avatar3.jpg" class="img-fluid rounded-circle img-small" alt="">
            <h4><span class="navy">Amelia</span> Smith</h4>
            <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta
              sensibus. </p>
            <ul class="list-inline social-icon">
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member wow zoomIn animated animated animated" style="visibility: visible;">
            <img src="assets/landing/avatar1.jpg" class="img-fluid rounded-circle" alt="">
            <h4><span class="navy">John</span> Novak</h4>
            <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta
              sensibus.</p>
            <ul class="list-inline social-icon">
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 wow fadeInRight animated animated animated"
             style="visibility: visible; animation-name: fadeInRight;">
          <div class="team-member">
            <img src="assets/landing/avatar2.jpg" class="img-fluid rounded-circle img-small" alt="">
            <h4><span class="navy">Peter</span> Johnson</h4>
            <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta
              sensibus.</p>
            <ul class="list-inline social-icon">
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </section>

  <section id="testimonials" class="navy-section testimonials" style="margin-top: 0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center wow zoomIn animated animated animated" style="visibility: visible;">
          <i class="fa fa-comment big-icon"></i>
          <h1>
            What our users say
          </h1>
          <div class="testimonials-text">
            <i></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="comments gray-section" style="margin-top: 0">
    <div class="container">
      <div class="row">
      </div>
      <div class="row features-block">
        <div class="col-lg-4">
          <div class="bubble">Our product catalog grew from 50 SKUs to over 1,000 SKUs and it would be impossible to
            manage without Dropify.
          </div>
          <div class="comments-avatar">
            <a href="" class="float-left">
              <img alt="image" src="assets/landing/avatar3.jpg">
            </a>
            <div class="media-body">
              <div class="commens-name">
                Andrew Williams
              </div>
              <small class="text-muted">Company X from California</small>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="bubble">We rely more on Dropify for accurate inventory than we do on the warehouse. We do monthly
            stock reconciliations as well which is great.
          </div>
          <div class="comments-avatar">
            <a href="" class="float-left">
              <img alt="image" src="assets/landing/avatar1.jpg">
            </a>
            <div class="media-body">
              <div class="commens-name">
                Andrew Williams
              </div>
              <small class="text-muted">Company X from California</small>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="bubble">For the first time, I could see and track my entire inventory flow. I can't believe I
            didn't do this sooner... it’s pretty awesome!
          </div>
          <div class="comments-avatar">
            <a href="" class="float-left">
              <img alt="image" src="assets/landing/avatar2.jpg">
            </a>
            <div class="media-body">
              <div class="commens-name">
                Andrew Williams
              </div>
              <small class="text-muted">Company X from California</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Modal template -->
<ng-template #signupModal let-c="close" let-d="dismiss">
  <form [formGroup]="registerForm">
    <div class="modal-body">
      <div style="text-align: -webkit-center; padding: 30px">
        <div class="text-center">
          <img src="assets/img/logo.png" class="img img-responsive" style="width: 50px">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label class="form-label">Your email</label>
          <input type="email" #email class="form-control" [(ngModel)]="store_info.email" formControlName="email"
                 placeholder="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label class="form-label">Password</label>
          <input type="password" #password class="form-control" [(ngModel)]="store_info.password"
                 formControlName="password" placeholder="Password"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label class="form-label">Store Name</label>
          <input type="text" #store class="form-control" formControlName="store" [(ngModel)]="store_info.store"
                 placeholder="Store" [ngClass]="{ 'is-invalid': submitted && f.store.errors }">
          <div *ngIf="submitted && f.store.errors" class="invalid-feedback">
            <div *ngIf="f.store.errors.required">Store Name is required</div>
            <div *ngIf="f.store.errors.pattern">Invalid Store Name</div>
          </div>
        </div>
      </div>
      <div *ngIf="error['email'] !== ''" class="invalid-feedback col-md-12 mb-1 mt-1 ml-3 d-block">
        <div style="font-size: 14px">{{error['email']}}</div>
      </div>
      <div *ngIf="error['password'] !== ''" class="invalid-feedback col-md-12 mb-1 mt-1 ml-3 d-block">
        <div style="font-size: 14px">{{error['password']}}</div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <button type="button" class="btn btn-primary" style="width: 100%;" (click)="signup(c)">Sign Up</button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col" style="text-align: center">
          <label class="form-label">Already have account?
            <a routerLink="javascript:void(0)" style="color: #7792e4" (click)="gotoLogin(c)">Sign in</a>
          </label>
        </div>
      </div>
    </div>
  </form>
</ng-template>


