<h4 class="font-weight-bold py-3 mb-4">
  Features
</h4>
<div class="row">
  <div class="col-md-12 text-center py-3">
    {{item_name.toUpperCase()}}
  </div>
</div>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 m-auto">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-xl-4 col-lg-5">
            <div class="w-100 text-center">
              <img src="assets/img/logos/zudello.png" class="img img-responsive feature-item-logo">
            </div>
            <div class="w-100 mt-4">
              <div class="feature-item-desc">
                Free to install for users.<br/>
                Shopify subscriptions starts from $29/month.
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-7">
            <div class="w-100 feature-item-introduction">
              <div class="label-header">Introduction</div>
              <div class="introduction-text mt-2">
                This is introduction.
              </div>
            </div>
            <div class="w-100 feature-item-help mt-4">
              <div class="label-header">How it works with</div>
              <div class="feature-item-help-text ml-2 mt-2">
                Match Inventory
              </div>
            </div>
            <div class="w-100 text-right">
              <button class="btn btn-secondary btn-round py-0 px-3" style="font-size: 12px">
                More...
              </button>
            </div>
            <div class="w-100 align-items-center mt-4">
              <img class="w-100 img img-responsive" src="assets/img/logos/shopify_big_logo.jpeg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
