<h3 class="row align-items-center font-weight-bold py-4 mb-4">
  <div class="col">
    Setting
    <div class="text-muted text-tiny font-weight-light">setting / overview</div>
  </div>
  <div class="col-sm-6 col-md-4 col-xl-3 mt-4 mt-sm-0">
    <input type="text" class="form-control form-control-lg" placeholder="Search topic...">
  </div>
</h3>
<hr class="border-light container-m--x my-0">

<div class="row row-bordered my-4">
  <div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3">
    <a routerLink="/store/general-settings" class="card card-hover text-dark my-2">
      <div class="card-body text-center py-5">
        <div class="lnr lnr-home display-3 text-primary"></div>
        <h5 class="m-0 mt-3">General Setting</h5>
      </div>
    </a>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3">
    <a routerLink="/store/account-settings" class="card card-hover text-dark my-2">
      <div class="card-body text-center py-5">
        <div class="lnr lnr-users display-3 text-primary"></div>
        <h5 class="m-0 mt-3">Accounts</h5>
      </div>
    </a>
  </div>
</div>
