<h4 class="font-weight-bold py-3 mb-4">
  Features
</h4>

<div class="container-fluid">
  <div class="row col-xl-10 feature-items">
    <a routerLink="/store/features/{{'zudello'}}" class="text-dark col-md-4 col-sm-6 mb-3">
      <div class="feature-item ">
        <div class="card">
          <div class="card-header text-center align-items-center">
            <img src="assets/img/logos/zudello.png" class="feature-item-img img-responsive">
          </div>
          <div class="card-body p-3">
            <div class="w-100">
              Automate Entry of invoices & Purchases Orders
            </div>
            <div class="feature-add-button w-100 text-right">
              <button class="btn btn-primary btn-round">
                <i class="ion ion-ios-add"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/store/features/{{'magento'}}" class="text-dark col-md-4 col-sm-6 mb-3">
      <div class="feature-item">
      <div class="card">
        <div class="card-header text-center align-items-center">
          <img src="assets/img/logos/magento.png" class="feature-item-img img-responsive">
        </div>
        <div class="card-body p-3">
          <div class="w-100">
            Automate Magento inventory control
          </div>
          <div class="feature-add-button w-100 text-right">
            <button class="btn btn-primary btn-round">
              <i class="ion ion-ios-add"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    </a>
    <a routerLink="/store/features/{{'shopify'}}" class="text-dark col-md-4 col-sm-6 mb-3">
      <div class="feature-item">
      <div class="card">
        <div class="card-header text-center align-items-center">
          <img src="assets/img/logos/shopify.png" class="feature-item-img img-responsive">
        </div>
        <div class="card-body p-3">
          <div class="w-100">
            Automate Shopify inventory control
          </div>
          <div class="feature-add-button w-100 text-right">
            <button class="btn btn-primary btn-round">
              <i class="ion ion-ios-add"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    </a>
    <a routerLink="/store/features/{{'amazon'}}" class="text-dark col-md-4 col-sm-6 mb-3">
      <div class="feature-item">
      <div class="card">
        <div class="card-header text-center align-items-center">
          <img src="assets/img/logos/amazon.png" class="feature-item-img img-responsive">
        </div>
        <div class="card-body p-3">
          <div class="w-100">
            AAutomate Amazon inventory control
          </div>
          <div class="feature-add-button w-100 text-right">
            <button class="btn btn-primary btn-round">
              <i class="ion ion-ios-add"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    </a>
    <a routerLink="/store/features/{{'woocommerce'}}" class="text-dark col-md-4 col-sm-6 mb-3">
      <div class="feature-item">
      <div class="card">
        <div class="card-header text-center align-items-center">
          <img src="assets/img/logos/woocommerce.png" class="feature-item-img img-responsive">
        </div>
        <div class="card-body p-3">
          <div class="w-100">
            Automate WooCommerce inventory control
          </div>
          <div class="feature-add-button w-100 text-right">
            <button class="btn btn-primary btn-round">
              <i class="ion ion-ios-add"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    </a>
    <a routerLink="/store/features/{{'xero'}}" class="text-dark col-md-4 col-sm-6 mb-3">
      <div class="feature-item">
      <div class="card">
        <div class="card-header text-center align-items-center">
          <img src="assets/img/logos/xero.png" class="feature-item-img img-responsive">
        </div>
        <div class="card-body p-3">
          <div class="w-100">
            Sync invoices & orders to Xero
          </div>
          <div class="feature-add-button w-100 text-right">
            <button class="btn btn-primary btn-round">
              <i class="ion ion-ios-add"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    </a>
    <a routerLink="/store/features/{{'quickbooks'}}" class="text-dark col-md-4 col-sm-6 mb-3">
      <div class="feature-item">
      <div class="card">
        <div class="card-header text-center align-items-center">
          <img src="assets/img/logos/quickbooks.png" class="feature-item-img img-responsive">
        </div>
        <div class="card-body p-3">
          <div class="w-100">
            Sync invoices & orders to Quickbooks
          </div>
          <div class="feature-add-button w-100 text-right">
            <button class="btn btn-primary btn-round">
              <i class="ion ion-ios-add"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    </a>
    <a routerLink="/store/features/{{'fulfillmentamzaon'}}" class="text-dark col-md-4 col-sm-6 mb-3">
      <div class="feature-item">
      <div class="card">
        <div class="card-header text-center align-items-center">
          <img src="assets/img/logos/fulfillmentamazon.png" class="feature-item-img img-responsive">
        </div>
        <div class="card-body p-3">
          <div class="w-100">
            Manage stock levels across FBA locations
          </div>
          <div class="feature-add-button w-100 text-right">
            <button class="btn btn-primary btn-round">
              <i class="ion ion-ios-add"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    </a>
    <a routerLink="/store/features/{{'zapier'}}" class="text-dark col-md-4 col-sm-6 mb-3">
      <div class="feature-item">
      <div class="card">
        <div class="card-header text-center align-items-center">
          <img src="assets/img/logos/fulfillmentamazon.png" class="feature-item-img img-responsive">
        </div>
        <div class="card-body p-3">
          <div class="w-100">
            Connect TradeGecko to 1000+ apps
          </div>
          <div class="feature-add-button w-100 text-right">
            <button class="btn btn-primary btn-round">
              <i class="ion ion-ios-add"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    </a>
  </div>
</div>
